<!DOCTYPE html>
<head>
    <title>Jspsych Experiment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jspsych.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/createJSONObject.js"></script>
    <script src="js/lodash.js"></script>
    <script src="plugins/jspsych-html-keyboard-response.js"></script>
    <script src="plugins/jspsych-survey-multi-choice.js"></script>
    <script src="plugins/jspsych-html-button-response.js"></script>
    <link href="css/jspsych.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
</body>
<script>
    /**
     * Global variables
     * @type {number}
     */
    let amount_text_per_experiment = 5;
    let production_BOOL = false;
    let exp1Object = createJSONObject();
    let timeline = [];
    let exp1Data;
    let exp2Data;
    let exp3Data;
    let conditions = ["Lie", "Truth", "Nothing"];
    let getAllData = JSON.parse(httpGet('/get'));
    let correct_answer = "Classify reviews as positive or negative";
    let detector_option = _.shuffle([correct_answer, 'Learn a new delicious recipe', 'A nice workout session']);
    let page_1_options = ["Yes", "No", "I don't know"];
    let page_2_options = ["Yes", "No", "I don't know"];
    let final_data_jsPsych = [];
    let experiment_data_string = "";

    /**
     * Variables for amazon mTurk
     * @type {string}
     */
    let amazon_host = "https://www.mturk.com/mturk/externalSubmit";
    let assignmentId = getUrlParameter('assignmentId');
    let workerId = getUrlParameter('workerId');
    let hitId = getUrlParameter('hitId');

    // let amazon_host_sandbox = "https://workersandbox.mturk.com/mturk/externalSubmit";
    // let assignmentId = "local_data_collect";
    // let workerId =  Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    // let hitId = "local_data_collect";

    /**
     * Generate Data for all experiments
     */
    function createDataForExperiments() {
        //EXPERIMENT 1
        exp1Data = editData(getAllData[0], false, false, amount_text_per_experiment);
        getAllData = deleteEntryFromArray(exp1Data, getAllData[0]);

        //EXPERIMENT 2
        let exp2Human = editData(getAllData, true, false, amount_text_per_experiment);
        let exp2Machine = editData(getAllData, false, false, amount_text_per_experiment);
        exp2Data = editData(exp2Human.concat(exp2Machine), true, true, amount_text_per_experiment);
        getAllData = deleteEntryFromArray(exp2Data, getAllData);

        //Experiment 3
        let exp3Human = editData(getAllData, true, false, amount_text_per_experiment);
        let exp3Machine = editData(getAllData, false, false, amount_text_per_experiment);
        exp3Data = editData(exp3Human.concat(exp3Machine), true, true, amount_text_per_experiment);
        getAllData = deleteEntryFromArray(exp3Data, getAllData);
    }

    createDataForExperiments();

    /**
     * Start instruction Page
     * @type {{stimulus: string, type: string, post_trial_gap: number}}
     */
    let instructions = {
        type: "html-keyboard-response",
        stimulus:
            "<h2>Comparison between choices made by artifical intelligence and human users\n</h2>" +
            "<h5>Welcome to this series of three experiments. Each experiment will involve movie reviews. Your task will be to classify them as positive or negative and provide feedback on which words led you to that decision. Press any key to start...</h5>",
        post_trial_gap: 0,
        on_finish: function (data) {
            if (production_BOOL) {
                pushBackup(data, assignmentId, workerId, hitId, "instructionPage", jsPsych.currentTimelineNodeID(), false)
            }
        }
    };
    timeline.push(instructions);

    /**
     * Detect bots in mturk and kick them out
     * @type {{on_finish: bot_detector.on_finish, stimulus: string, type: string, choices: Array, post_trial_gap: number}}
     */
    let bot_detector = {
        type: 'html-button-response',
        stimulus:
            "<p>What are you going to do in this series of experiments?</p>",
        choices: detector_option,
        post_trial_gap: 0,
        on_finish: function (data) {
            let current_node_id = jsPsych.currentTimelineNodeID();
            let data_from_current_node = jsPsych.data.getDataByTimelineNode(current_node_id).values();
            let detector_answer = data_from_current_node[0]["button_pressed"];
            if (detector_option[Number(detector_answer)] !== correct_answer) {
                data.botDetector = "failed";
                if (production_BOOL) {
                    pushBackup(data, assignmentId, workerId, hitId, "botDetector", jsPsych.currentTimelineNodeID(), false);
                    pushToDatabase('/results', 'POST', final_data_jsPsych);
                }
                jsPsych.endExperiment('The experiment was ended');
            } else {
                data.botDetector = "successfull";
                if (production_BOOL) {
                    pushBackup(data, assignmentId, workerId, hitId, "botDetector", jsPsych.currentTimelineNodeID(), false);
                }
            }
        }
    };
    timeline.push(bot_detector);

    /**
     * Function for saving the state of the checkboxes for experiment 1
     * @param x
     * @param index
     */
    function saveState(x, index) {
        let localCheckboxes = 'checkboxes' + index;
        let localState = 'state' + index;
        if (exp1Object.Containers[index][localState].length === 1) {
            handleCheckboxes(true, '', index);
            exp1Object.Containers[index][localState].pop();
            exp1Object.Containers[index][localState].push(x);
        } else {
            exp1Object.Containers[index][localState].push(x);
        }
    }

    /**
     * Function for the handling of the checkboxes(words) for experiment 1
     * @param deactivateCheckbox
     * @param element
     * @param index
     */
    function handleCheckboxes(deactivateCheckbox, element = '', index) {
        if (element === '' && deactivateCheckbox) {
            let localIndex = 'index' + index;
            let localCheckboxes = 'checkboxes' + index;
            let localLabels = 'labels' + index;
            for (let i = 0; i < exp1Object.Containers[index][localCheckboxes].length; i++) {
                let current = document.getElementById(exp1Object.Containers[index][localCheckboxes][i]);
                if (current.checked === true) {
                    current.checked = false;
                    document.getElementById(exp1Object.Containers[index][localLabels][i]).style.color = "#4a4a4a";
                    document.getElementById(exp1Object.Containers[index][localLabels][i]).style.fontWeight = "normal";
                    document.getElementById(exp1Object.Containers[index][localLabels][i]).style.fontSize = "18px";
                }
            }
            exp1Object.Containers[index][localCheckboxes] = [];
            exp1Object.Containers[index][localLabels] = [];
            exp1Object.Containers[index][localIndex] = [];
        } else if (deactivateCheckbox) {
            document.getElementById(element).style.color = "#4a4a4a";
            document.getElementById(element).style.fontWeight = "normal";
            document.getElementById(element).style.fontSize = "18px";
        } else if (!deactivateCheckbox) {
            document.getElementById(element).style.color = "green";
            document.getElementById(element).style.fontWeight = "bold";
            document.getElementById(element).style.fontSize = "1.5em";
        }
    }

    /**
     * Generate the stimulus for experiment 1. Iterate over all elements and create for each a JsPsych trial
     */
    exp1Data.forEach(function (element, index) {
        let htmlStringBuilder = "";
        let helper = index + 1;
        let wordList = _.words(element.review, /[\w']+[-'][\w']+|[\w']+|[.,!?;]/g);
        let localText = 'text' + index;
        let punctuations = [".", ",", ":", "!", "?", ";", "|", "/"]
        exp1Object.Containers[index][localText] = wordList;
        wordList.forEach(function (wordElement, indexWord) {
            if (punctuations.includes(wordElement)) {
                htmlStringBuilder += wordElement;
            } else {
                htmlStringBuilder += "<input type='checkbox' class='hidden' name=\"check[]\" value='" + wordElement + "' id='" + "group" + indexWord + index + "' onChange='selectWords(" + indexWord + "," + index + ")'/>";
                htmlStringBuilder += "<label for='" + "group" + indexWord + index + "' id='" + "labelWords" + indexWord + index + "'>" + wordElement + "</label>";
            }
        });
        let htmlString =
            "    <div class=\"row d-flex justify-content-center\">\n" +
            "        <div class=\"row d-flex justify-content-center\">\n" +
            "            <div class=\"col-lg-10 \" id='" + "wordContainer" + index + "'\n" +
            "                 style=\"-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;\"\n" +
            "                 unselectable=\"on\" onselectstart=\"return false;\" onmousedown=\"return false;\">\n" +
            "                <!--                <div class=\"text-center\">-->\n" +
            "                <!--                </div>-->\n" +
            "                <blockquote>\n" +
            "                            <p id='" + "quoteWord" + index + "'>" + htmlStringBuilder + "</p>\n" +
            "                </blockquote>\n" +
            "            </div>\n" +
            "\n" +
            "        </div>\n" +
            "   </div>\n" +
            "   <div id='" + "consent" + index + "'>\n" +
            "        <p>\n" +
            "            <input type=\"radio\" id='" + "consent_checkbox" + index + "' value=\"positive\" name='" + "State" + index + "' onchange='saveState(" + "\"POSITIVE\"" + "," + index + ")'/>\n" +
            "            <label for='" + "consent_checkbox" + index + "'>This text is POSITIVE.</label><br>\n" +
            "            <input type=\"radio\" id='" + "consent_checkbox2" + index + "' value=\"negative\" name='" + "State" + index + "' onchange='saveState(" + "\"NEGATIVE\"" + "," + index + ")'/>\n" +
            "            <label for='" + "consent_checkbox2" + index + "'>This text is NEGATIVE.</label><br>" +
            "        </p>\n" +
            "   </div>\n" +
            "<hr>";
        let containerString =
            "<div class=\"container\">\n" +
            "    <div class=\"black-text text-center wow fadeInUp\">\n" +
            "        <h2>" + "Experiment 1:" + " " + "Text" + " " + helper + " " + "of" + " " + amount_text_per_experiment + "</h2>\n" +
            "        <h5>Classify this movie review as positive or negative, then mark the three words that were most important for your decision.</h5>\n" +
            "        <h5 style='font-style: italic;'>Remember: Your marked words will be reseted if you change your opinion \"Positive\/Negative\".</h5>\n" +
            "    </div>\n";

        let trial = {
            type: 'html-button-response',
            stimulus: containerString + htmlString + "</div>",
            button_html: "    <button type=\"button\" id=\"start\"'>Next</button>\n",
            choices: ['Experiment1'],
            prompt: "<p></p>"
        };

        let loop_node = {
            timeline: [trial],
            data: {EXPERIMENT: 'COLLECT_DATA_SUCCESS'},
            loop_function: function () {
                let localState = "state" + index;
                let localIndex = "index" + index;
                let localCheckboxes = "checkboxes" + index;
                let localLabels = "labels" + index;
                if (exp1Object.Containers[index][localIndex].length === 3 && exp1Object.Containers[index][localState].length === 1) {
                    return false;
                } else {
                    let localState = "state" + index;
                    let localIndex = "index" + index;
                    let localCheckboxes = "checkboxes" + index;
                    let localLabels = "labels" + index;
                    exp1Object.Containers[index][localCheckboxes] = [];
                    exp1Object.Containers[index][localLabels] = [];
                    exp1Object.Containers[index][localIndex] = [];
                    exp1Object.Containers[index][localState] = [];
                    alert("Please choose three words and classify this text as positive or negative by choosing one option below the text.");
                    return true;
                }
            },
            on_finish: function (data) {
                let expName = "experiment1_" + index;
                let localText = "text" + index;
                let localState = "state" + index;
                let localIndex = "index" + index;
                let selectedWords = [];
                if (exp1Object.Containers[index][localIndex].length === 3 && exp1Object.Containers[index][localState].length === 1) {
                    exp1Object.Containers[index][localIndex].forEach(function (indexLocal) {
                        selectedWords.push(exp1Object.Containers[index][localText][indexLocal]);
                        exp1Object.Containers[index][localText][indexLocal] = "<mark>" + exp1Object.Containers[index][localText][indexLocal] + "</mark>";
                    }, exp1Object.Containers[index][localText]);
                    data.movie_id = exp1Data[index].movie_id;
                    data.highlighted_features = exp1Object.Containers[index][localText].join(' ');
                    data.rating_binary = exp1Object.Containers[index][localState][0];
                    data.source_id = exp1Data[index]._id;
                    data.selectedWords = selectedWords;
                    data.isHuman = true;
                    if (production_BOOL) {
                        pushBackup(data, assignmentId, workerId, hitId, expName, jsPsych.currentTimelineNodeID(), true)
                    }
                } else {
                    data.EXPERIMENT = "COLLECT_DATA_FAILED";
                    if (production_BOOL) {
                        pushBackup(data, assignmentId, workerId, hitId, expName, jsPsych.currentTimelineNodeID(), false)
                    }
                }
            }
        };
        timeline.push(loop_node);
    });

    /**
     * Function for checking the selected words.
     * @param x
     * @param divID
     */
    let selectWords = function (x, divID) {
        let label = "labelWords" + x + divID;
        let checkbox = "group" + x + divID;
        let localIndex = 'index' + divID;
        let localCheckboxes = 'checkboxes' + divID;
        let localLabels = 'labels' + divID;

        if (exp1Object.Containers[divID][localIndex].includes(x) === false) exp1Object.Containers[divID][localIndex].push(x);
        if (exp1Object.Containers[divID][localCheckboxes].includes(checkbox) === false) exp1Object.Containers[divID][localCheckboxes].push(checkbox);
        if (exp1Object.Containers[divID][localLabels].includes(label) === false) exp1Object.Containers[divID][localLabels].push(label);
        if (exp1Object.Containers[divID][localCheckboxes].length <= 3) {
            if (document.getElementById(checkbox).checked === true) {
                handleCheckboxes(false, label, divID)
            } else {
                let deleteCheckbox = exp1Object.Containers[divID][localCheckboxes].indexOf(checkbox);
                if (deleteCheckbox !== -1) exp1Object.Containers[divID][localCheckboxes].splice(deleteCheckbox, 1);
                let deleteIndex = exp1Object.Containers[divID][localIndex].indexOf(x);
                if (deleteIndex !== -1) exp1Object.Containers[divID][localIndex].splice(deleteIndex, 1);
                let deleteLabel = exp1Object.Containers[divID][localLabels].indexOf(label);
                if (deleteLabel !== -1) exp1Object.Containers[divID][localLabels].splice(deleteLabel, 1);
                handleCheckboxes(true, label, divID);
            }
        }
        if (exp1Object.Containers[divID][localCheckboxes].length > 3) {
            alert("You can only select three words. If you finished your selection, please identify the text as positive or negative, by clicking on one of the checkboxes. Finally press the bottom button \"Finish Experiment\".");
            handleCheckboxes(true, '', divID)
        }
    };

    /**
     * End of the first experiment.
     * @type {{stimulus: string, type: string, post_trial_gap: number}}
     */
    let instructions2 = {
        type: "html-keyboard-response",
        stimulus:
            "<h1>You finished the first experiment!</h1>" +
            "<h4>The next experiment shows a movie review with three marked words. You have to choose if these words were selected by an artifical intelligence or a human user.</h4>" +
            "<h4>Please press any key to continue...</h4>",
        post_trial_gap: 0,
        on_finish: function (data) {
            if (production_BOOL) {
                pushBackup(data, assignmentId, workerId, hitId, "resumeExp1", jsPsych.currentTimelineNodeID(), false)
            }
        }
    };
    timeline.push(instructions2);

    /**
     * Start of the second experiment. Generate for each data point a JsPsych trial.
     */
    exp2Data.forEach(function (element, index) {
        let reviewExp2;
        let source;
        let sentiment;
        let helper = index + 1;
        if (element.highlighted_features_covar) {
            reviewExp2 = element.highlighted_features_covar;
            source = 'AI';
            sentiment = element.rating_binary;
        } else if (element.highlighted_features) {
            reviewExp2 = element.highlighted_features;
            source = 'HUMAN';
            sentiment = element.rating_binary;
        }

        let htmlString =
            "<div class=\"container\">\n" +
            "    <div class=\"black-text text-center wow fadeInUp\">\n" +
            "        <h2>" + "Experiment 2:" + " " + "Review" + " " + helper + " " + "of" + " " + amount_text_per_experiment + "</h2>\n" +
            "        <h5>Decide if the words were choosen by an artifical intelligence or a human user by clicking on one of the boxes \"AI\" or \"Human\" below the text.</h5>\n" +
            "    </div>\n" +
            '<div class="row d-flex justify-content-center">\n' +
            '        <div class="row d-flex justify-content-center">\n' +
            '            <div class="col-lg-10 " id="wordContainer"\n' +
            '                 style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"\n' +
            '                 unselectable="on" onselectstart="return false;" onmousedown="return false;">\n' +
            "    <blockquote>\n" +
            "<h4>" + "This review was classified as" + " " + "<strong style='text-transform: uppercase;'>" + sentiment + "</strong>" + "</h4>" +
            "        <p id=\"quoteWord2\"></p>\n" + reviewExp2 +
            "    </blockquote>\n" +
            '            </div>\n' +
            '\n' +
            '        </div>\n' +
            '    </div>' +
            '    </div>' +
            "<hr>";

        let trial2 = {
            type: 'html-button-response',
            stimulus: htmlString,
            choices: ['Human', 'AI'],
            on_finish: function (data) {
                let expName = "experiment2_" + index;
                data.movie_id = exp2Data[index].movie_id;
                data.source_id = exp2Data[index]._id;
                data.source = source;
                if (production_BOOL) {
                    pushBackup(data, assignmentId, workerId, hitId, expName, jsPsych.currentTimelineNodeID(), false)
                }
            }
        };
        timeline.push(trial2);
    });

    /**
     * End of the second Experiment.
     * @type {{stimulus: string, type: string, post_trial_gap: number}}
     */
    let instructions3 = {
        type: "html-keyboard-response",
        stimulus:
            "<h1>You finished the second experiment!</h1>" +
            "<h4>The third experiment will be similiar to the second.</h4>" +
            "<h4>But now, you may get hints if the marked words were choosen by a human user or an artifical intelligence.</h4>" +
            "<h4>Please press any key to continue...</h4>",
        post_trial_gap: 0,
        on_finish: function (data) {
            if (production_BOOL) {
                pushBackup(data, assignmentId, workerId, hitId, "resumeExp2", jsPsych.currentTimelineNodeID(), false)
            }
        }
    };
    timeline.push(instructions3);

    /**
     * Start of the third experiment. Create for each datapoint a JsPsych Trial.
     */
    exp3Data.forEach(function (element, index) {
        let reviewExp3;
        let htmlString;
        let helper = index + 1;
        let condition_title;
        let source;

        if (element.highlighted_features_covar) {
            reviewExp3 = element.highlighted_features_covar;
            source = "AI";
        } else if (element.highlighted_features) {
            reviewExp3 = element.highlighted_features;
            source = "HUMAN";
        }
        let condition = conditions[Math.floor(Math.random() * conditions.length)];
        if (condition === "Nothing") {
            htmlString =
                "<div class=\"container\">\n" +
                "    <div class=\"black-text text-center wow fadeInUp\">\n" +
                "        <h2>" + "Experiment 3:" + " " + "Review" + " " + helper + " " + "of" + " " + amount_text_per_experiment + "</h2>\n" +
                "        <h5>Decide if the marked words were choosen by an artifical intelligence or a human user by clicking on one of the boxes \"AI\" or \"Human\" below the text.</h5>\n" +
                "    </div>\n" +
                '<div class="row d-flex justify-content-center">\n' +
                '        <div class="row d-flex justify-content-center">\n' +
                '            <div class="col-lg-10 " id="wordContainer"\n' +
                '                 style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"\n' +
                '                 unselectable="on" onselectstart="return false;" onmousedown="return false;">\n' +
                "    <blockquote>\n" +
                "        <p id=\"quoteWord2\"></p>\n" + reviewExp3 +
                "    </blockquote>\n" +
                '            </div>\n' +
                '\n' +
                '        </div>\n' +
                '    </div>' +
                '    </div>' +
                "<hr>";
        } else if (condition === "Truth") {
            if (element.highlighted_features_covar) {
                source = "AI";
                condition_title = "These words were selected as relevant by an AI";
            } else if (element.highlighted_features) {
                source = "HUMAN";
                condition_title = "These words were selected as relevant by a Human";
            }
            htmlString =
                "<div class=\"container\">\n" +
                "    <div class=\"black-text text-center wow fadeInUp\">\n" +
                "        <h2>" + "Experiment 3:" + " " + "Review" + " " + helper + " " + "of" + " " + amount_text_per_experiment + "</h2>\n" +
                "        <h5>Decide if the words were choosen by an artifical intelligence or human by clicking on one of the bottom buttons \"AI\" or \"Human\"</h5>\n" +
                "    </div>\n" +
                '<div class="row d-flex justify-content-center">\n' +
                '        <div class="row d-flex justify-content-center">\n' +
                '            <div class="col-lg-10 " id="wordContainer"\n' +
                '                 style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"\n' +
                '                 unselectable="on" onselectstart="return false;" onmousedown="return false;">\n' +
                "    <blockquote>\n" +
                "<h3>" + condition_title + "</h3>" +
                "        <p id=\"quoteWord2\"></p>\n" + reviewExp3 +
                "    </blockquote>\n" +
                '            </div>\n' +
                '\n' +
                '        </div>\n' +
                '    </div>' +
                '    </div>' +
                "<hr>";
        } else if (condition === "Lie") {
            let human_or_ai;
            if (element.highlighted_features_covar) {
                human_or_ai = "Human";
                source = "AI";
            } else if (element.highlighted_features) {
                human_or_ai = "AI";
                source = "HUMAN";
            }

            function getRandomInt(max) {
                return Math.floor(Math.random() * Math.floor(max));
            }

            let statistic = getRandomInt(100);
            htmlString =
                "<div class=\"container\">\n" +
                "    <div class=\"black-text text-center wow fadeInUp\">\n" +
                "        <h2>" + "Experiment 3:" + " " + "Review" + " " + helper + " " + "of" + " " + amount_text_per_experiment + "</h2>\n" +
                "        <h5>Decide if the words were choosen by an artifical intelligence or human by clicking on one of the bottom buttons \"AI\" or \"Human\"</h5>\n" +
                "    </div>\n" +
                '<div class="row d-flex justify-content-center">\n' +
                '        <div class="row d-flex justify-content-center">\n' +
                '            <div class="col-lg-10 " id="wordContainer"\n' +
                '                 style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"\n' +
                '                 unselectable="on" onselectstart="return false;" onmousedown="return false;">\n' +
                "    <blockquote>\n" +
                "        <div class=\"noteAlt\">" + statistic + "%" + " " + "of the Tester choose" + " " + human_or_ai + " " + "in this Review" + "</div>\n" +
                "        <p id=\"quoteWord2\"></p>\n" + reviewExp3 +
                "    </blockquote>\n" +
                '            </div>\n' +
                '\n' +
                '        </div>\n' +
                '    </div>' +
                '    </div>' +
                "<hr>";
        }

        let trial3 = {
            type: 'html-button-response',
            stimulus: htmlString,
            choices: ['Human', 'AI'],
            on_finish: function (data) {
                data.condition = condition;
                let expName = "experiment3_" + index;
                data.movie_id = exp3Data[index].movie_id;
                data.source_id = exp3Data[index]._id;
                data.source = source;

                if (production_BOOL) {
                    pushBackup(data, assignmentId, workerId, hitId, expName, jsPsych.currentTimelineNodeID(), false)
                }
            }
        };
        timeline.push(trial3);
    });

    /**
     * End of the third experiment.
     * @type {{stimulus: string, type: string, post_trial_gap: number}}
     */
    let instructions4 = {
        type: "html-keyboard-response",
        stimulus:
            "<h1>You finished the last experiment!</h1>" +
            "<h4>Please press any key to answer two final questions...</h4>",
        post_trial_gap: 0,
        on_finish: function (data) {
            if (production_BOOL) {
                pushBackup(data, assignmentId, workerId, hitId, "resumeExp3", jsPsych.currentTimelineNodeID(), false)
            }
        }
    };
    timeline.push(instructions4);

    /**
     * Final questions about the experiment
     * @type {{stimulus: string, questions: [{horizontal: boolean, name: string, options: [string, string, string], prompt: string, required: boolean}, {horizontal: boolean, name: string, options: [string, string, string], prompt: string, required: boolean}], type: string}}
     */
    let multi_choice_block = {
        type: 'survey-multi-choice',
        stimulus:
            "<h2>Comparison between artifical intelligence and human choices</h2>",
        questions: [
            {
                prompt: "Did the hints have any influence on your decision?",
                name: 'Nudges',
                options: page_1_options,
                required: true,
                horizontal: true
            },
            {
                prompt: "Do you feel confident with your answers?",
                name: 'Confidence',
                options: page_2_options,
                required: true,
                horizontal: true
            }
        ],
        on_finish: function (data) {
            if (production_BOOL) {
                pushBackup(data, assignmentId, workerId, hitId, "questionPage", jsPsych.currentTimelineNodeID(), false)
            }
        }
    };
    timeline.push(multi_choice_block);

    /**
     * Submit trial for sending data to mturk.
     * @type {{on_finish: submit_block.on_finish, stimulus: string, type: string, choices: [string]}}
     */
    // let submit_block = {
    //     type: 'html-button-response',
    //     stimulus: '<div>Thank you for participating in this experiment!</div>' +
    //         '<div> You can click submit to send your result. </div>',
    //     choices: ['Submit'],
    //     on_finish: function (data) {
    //         let postUrl = amazon_host;
    //         experiment_data_string = JSON.stringify(final_data_jsPsych);
    //         if (production_BOOL) {
    //             pushBackup(data, assignmentId, workerId, hitId, "submitPage", jsPsych.currentTimelineNodeID(), false);
    //             pushToDatabase('/results', 'POST', final_data_jsPsych);
    //         }
    //         postToAmazon(postUrl, {
    //             "user-input": experiment_data_string,
    //             assignmentId: assignmentId,
    //             workerId: workerId,
    //             hitId: hitId
    //         });
    //     }
    // };
    // timeline.push(submit_block);

    /**
     * Final JsPsych call
     */
    jsPsych.init({
        timeline: timeline,
        on_finish: function () {
            console.log(final_data_jsPsych)
        }
    });
</script>
</html>


