.hidden {
    visibility: hidden;
}

[id^="wordContainer"] {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
}

[id^="wordContainer"] p {
    text-rendering: optimizeLegibility;
}

[id^="wordContainer"] blockquote {
    border-radius: 3px;
    position: relative; /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%; /* create space for the quotes */
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    background: #E8E8E8;
}

/* -- create the quotation marks -- */
[id^="wordContainer"] blockquote:before,
[id^="wordContainer"] blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: #E8E8E8;
    font-size: 34px;
}

[id^="wordContainer"] blockquote:before {
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}

[id^="wordContainer"] blockquote:after {
    content: "\f10e";
    margin-left: 13px;
    left: 100%;
    top: auto;
    bottom: 13px;
}

div.noteAlt {
    background-color: #27ae60;
    background-image: url("css-box-icon-1.webp");
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border-left: solid 4px #3498db;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 60px;
}

mark {
    background-color: black;
    color: white;
}

hr {
    border: 1px solid black;
}

.jspsych-content .jspsych-survey-multi-choice-question {
    text-align: center !important;
}

.required {
    display: none;
}

.jspsych-btn, #start {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background-color: green;
    border: 2px solid green;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
}

.jspsych-btn:hover, #start:hover {
    color: green;
    background-color: transparent;
}